* {
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    text-decoration: none;

}

/* ============================================================================================================================
   PAINEL DE CONTROLE GLOBAL (VARIÁVEIS CSS)
   ============================================================================================================================ */
:root {
    /* -----------------------------------------------------------*/
    /* 1. Paleta de Cores
  /* -------------------------------------------------------------*/

    --cor-primaria: #7f5a38;
    --cor-secundaria: #8B4513;
    --cor-fundo: #EFE5E5;
    /* -----------------------------------------------------------*/
    /* 2. Tipografia (Fontes e Tamanhos)
    /* -----------------------------------------------------------*/
    --fonte-principal: "Mona Sans", sans-serif;
    --fonte-titulos: 'Open Sans', sans-serif;

}

/* ============================================================= */
/* ESTILOS MOBILE (BASE PARA TUDO)                               */
/* ============================================================= */

@media screen and (min-width: 360px) {
    .pg-secundary {
        font-family: var(--fonte-principal);
        color: var(--cor-primaria)
    }


    .section-boas-vindas h1 {
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin-top: 30px;
        text-align: center;
    }

    .bloco-historia h2 {
        padding-left: 100px;
        margin-top: 20px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    .subtitulo-com-linhas {
        display: flex;
        align-items: center;
        gap: 15px;
        color: #A0522D;
        font-size: 1.25rem;
        font-style: var(--fonte-titulos);
        font-weight: normal;
        text-align: center;
        width: 100%;
    }

    .subtitulo-com-linhas::before,
    .subtitulo-com-linhas::after {
        content: '';
        flex-grow: 1;
        height: 1px;
        background-color: #A0522D;
    }

    .subtitulo-com-linhas2 {
        display: flex;
        align-items: center;
        gap: 15px;
        color: #A0522D;
        font-size: 1.25rem;
        font-style: var(--fonte-titulos);
        font-weight: normal;
        text-align: center;
        width: 90%;
    }

    .subtitulo-com-linhas2::before {
        content: '';
        flex-grow: 1;
        height: 1px;
        background-color: #A0522D;
    }

    .bloco-historia p {
        margin: 20px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-boas-vindas p {
        box-sizing: border-box;
        margin-right: 50px;
        margin-left: 50px;
        text-align: center;
    }

    .section-boas-vindas .p-destaque {
        margin-top: 20px;
    }

    .section-diferencas {
        margin-top: 30px;
    }

    .section-diferencas h3 {
        display: flex;
        align-items: center;
        gap: 15px;
        width: 90%;
    }

    .section-diferencas h3::before {
        content: '';
        flex-grow: 1;
        height: 1px;
        background-color: #A0522D;
    }

    .container {
        max-width: 1120px;
        margin: 0 auto;

    }

    .container .card {
        margin-top: 30px;
        display: flex;
        padding-bottom: 30px;
        margin-bottom: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container .imgs {

        width: 100px;
    }

    .section-diferencas p {
        width: 200px;

    }

    .horario-atendimento div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .horario-atendimento h2 {
        text-align: center;
        padding-bottom: 10px;
        text-transform: uppercase;
    }

    .horario-atendimento h3 {
        display: flex;
        align-items: center;
        gap: 15px;
        width: 90%;
        padding-bottom: 40px;
    }

    .horario-atendimento h3::before {
        content: '';
        flex-grow: 1;
        height: 1px;
        background-color: #A0522D;
    }

    .horario-atendimento img {
        width: 300px;
        padding-bottom: 10px;
    }


}