/*Fontes do site*/
@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('footer.css');  /* CSS footer*/
@import url(reset.css); /*Reseta css*/

/* ============================================================================================================================
   PAINEL DE CONTROLE GLOBAL (VARIÁVEIS CSS)
   ============================================================================================================================ */
:root {
  /* -------------------------------------------------- */
  /* 1. Paleta de Cores
  /* -------------------------------------------------- */

  --cor-primaria: #7f5a38;         /* Cor principal da marca    /OK*/
  --cor-destaque: #8B4513;         /* Cor para botões e links importantes (call-to-action) */
  
  --cor-fundo: #EFE5E5;            /* Cor de fundo principal do site    /OK */

  --cor-texto-principal: #8B4513; /* Cor para parágrafos e textos comuns */
  --cor-texto-claro: #FAFAFA;     /* Cor de texto para usar sobre fundos escuros */
  --cor-titulos: #1c1c1c;         /* Cor para os títulos principais */


  /* -------------------------------------------------- */
  /* 2. Tipografia (Fontes e Tamanhos)
  /* -------------------------------------------------- */

  --fonte-principal: "Mona Sans", sans-serif; 
  --fonte-titulos: 'Open Sans', sans-serif;

  /* Escala de tamanhos de fonte (use 'rem' para acessibilidade) */
  --fs-base: 1rem;       /* Tamanho base (geralmente 16px) */
  --fs-sm: 0.875rem;     /* Pequeno (14px) */
  --fs-lg: 1.25rem;      /* Grande (20px) */
  --fs-xl: 1.5rem;       /* Título h3 (24px) */
  --fs-xxl: 2rem;        /* Título h2 (32px) */
  --fs-xxxl: 3rem;       /* Título h1 (40px) */

  /* Peso da fonte */
  --fw-regular: 400;
  --fw-bold: 700;


  /* -------------------------------------------------- */
  /* 3. Espaçamentos e Tamanhos
  /* -------------------------------------------------- */
  /* Use para paddings, margins, etc. */

  --espaçamento-4: 0.25rem;  /* 4px */
  --espaçamento-8: 0.5rem;   /* 8px */
  --espaçamento-16: 1rem;     /* 16px */
  --espaçamento-24: 1.5rem;   /* 24px */
  --espaçamento-32: 2rem;     /* 32px */
  --espaçamento-64: 4rem;    /* 64px */

  /* Largura máxima do conteúdo central */
  --largura-container: 1120px

}

/*=======================================================================================================================================*/
/* Scroll */
*{
  
::-webkit-scrollbar {
  width: 8px;
  height: 8px; 
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background-color: #585555;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}


::-webkit-scrollbar-thumb:hover {
  background-color: #e64747;
}

}

/*Configurações do Site*/

body {
  background-color: var(--cor-fundo);
  
}

.Header {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items:60px;
}

.Img-banner {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
}



/* Nav - Menu */

.nav-bar {
  position: absolute;
  display: flex;
  font-family: var(--fonte-titulos);
  flex-wrap: nowrap;
  
 
}

.nav-bar .menu {
  display: flex;
  gap: 20px;
  float: right;
  margin-left: 65rem;
  margin-top: 20px;
  align-items: center;
}

a {
  color: white;
}
a:hover{
  color: #d57214;
}



/*Seção informativa*/

.Container-section {
  display: flex;
  position: absolute;
  width: 100%;
  top: 580px;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

.Container-section .info {

  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  align-items: center;
  padding-top: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(12, 11, 11, 0.3);
}
 .Container-section .info h3{
  color: var(--cor-destaque);
  font-family: var(--fonte-titulos);
}

.Container-section p{
  color: #564E4E;
  height: 10px;
  width: 200px;
  padding-left: 25px;
}
.contato{
  position: absolute;
  display: flex;
  top: 30rem;
  left: 77rem;
   background-color: rgba(255, 255, 255, 0.2);
   border: none;
   border-radius: 10px;
   height: 35px;
   width: 200px;
   align-items: center;
   font-family: var(--fonte-titulos);
   justify-content: center;
  transition: all 0.3s ease; 
}
.contato:hover{
    transform: scale(1.1); background: #3e8e41; 
}
a{
  margin-left: 10px;
}




/* Section quem somos */

.quem-somos {
  position: relative;
  top: 10rem;
  display: flex;
  gap: var(--espaçamento-64);
  align-items: center;
  justify-content: center;
  height: 30rem ;
  padding: var(--espaco-xxl);
  font-family: var(--fonte-principal);
  
}

.quem-somos .titulo-secao {
  font-size: var(--espaçamento-32);
  margin-bottom: var(--espaçamento-24);
  color: #564E4E;
}

.quem-somos p{
  font-size: 1.2rem;
  width: 40rem;
  color: #564E4E;
}

.img-info {
  border-radius: 10px;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
}


 /* @media (max-width: 390px) {
 

  
  }

  .img {
    width: 100%;
    
    
  }
  .nav-menu {
  
  display: flex;
  justify-content: space-between;
  
} */

  /* .menu {
    display: flex;
    gap: 50px;
    float: right;
    margin-left: 3rem;
    align-items: center;
    
  }



}

@media (min-width: 1025px) {
  */

/* } 