@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('footer.css');





:root {

  --cor-primaria: #7f5a38;

  --cor-destaque: #8B4513;

  --cor-fundo: #EFE5E5;

  --cor-texto-principal: #8B4513;

  --cor-texto-claro: #FAFAFA;

  --cor-titulos: #1c1c1c;

  --fonte-principal: "Mona Sans", sans-serif;
  --fonte-titulos: 'Open Sans', sans-serif;

}

* {
  list-style-type: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  user-select: none;

}

body {
  background-color: var(--cor-fundo);
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

html {
  scroll-behavior: smooth;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/* Secão header */
.header {
  position: fixed;
  z-index: 2;
  width: 100vw;
  display: flex;
  height: 50px;
  background-color: #7f5a38;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
}

.header img {
  margin-left: 1rem;
}

.menu {
  position: absolute;
  display: flex;
  gap: 50px;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
  font-family: "Mona Sans", sans-serif;
  left: 65%;

}

.menu .nav-link {
  color: #ca945a;


}

.logo {
  height: 60px;
}

.nav-link:hover {
  border-radius: 10px;
  width: 200px;

  cursor: pointer;
  color: wheat;

}

/* Secão  Banner*/

.Img-banner {
  margin-top: 50px;
  width: 100vw;
  height: 600px;
  object-fit: cover;
  pointer-events: none;
}

/*secao-info*/
.secao-info {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  transform: translateY(-3rem);
}

.secao-info img {
  pointer-events: none;
}

.info .att-img {
  margin-left: 19px;
}

.secao-info .info {

  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 15rem;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 0.1rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(12, 11, 11, 0.3);
  font-family: "Mona Sans", sans-serif;
  color: #c58a49;
  text-align: center;
  overflow: hidden;
}

/* secao-bem-vindo */
.secao-bem-vindo {
  display: flex;
  width: 100%;
  gap: 5rem;
  margin-left: 10rem;
  position: relative;
}

.secao-bem-vindo h1 {
  font-size: 3rem;
}

.secao-bem-vindo h2 {
  font-weight: 200;
}

.secao-bem-vindo .imgs-fachada {
  border-radius: 10px;
  pointer-events: none;

}

.div-saudacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--fonte-titulos);
  color: #b36713;
  font-size: 20px;
  width: 50%;
}

/* secao-procedimento */
.secao-procedimento {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  font-family: var(--fonte-titulos);
  color: #7f5a38;
  font-size: 20px;
  margin-top: 5rem;
}

.secao-procedimento H1 {
  font-size: 3rem
}

.secao-procedimento h2 {
  font-weight: 200;
}

/* secao-catalogo */
.secao-catalogo {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 5rem;

}

.secao-catalogo img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  animation: 1s;
}

.saudacao button {
  position: absolute;

}

.catalogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catalogo h1 {
  font-size: 20px;
}

.catalogo span {
  position: relative;
  transform: translateY(-9.2rem);
  color: white;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  animation: alternate 1ms;

}

.catalogo img:hover {
  filter: opacity(50%);

}

.catalogo:hover span {
  opacity: 1;

}

.btn-saibaMais {
  width: 10rem;
  height: 2.3rem;
  border-radius: 0.8rem;
  color: white;
  font-family: var(--fonte-titulos);
  font-size: 20px;
  background: linear-gradient(90deg, rgba(162, 84, 8, 1) 50%, rgba(107, 40, 16, 1) 100%);
  border: none;
  transition: transform 0.3s ease 0.2s;
}

.btn-saibaMais:hover {
  cursor: pointer;

}


.btn {
  width: 10rem;
  height: 2.3rem;
  border-radius: 0.8rem;
  color: white;
  font-family: var(--fonte-titulos);
  font-size: 20px;
  background: linear-gradient(90deg, rgba(162, 84, 8, 1) 50%, rgba(107, 40, 16, 1) 100%);
  border: none;


  transition: transform 0.3s ease 0.2s;
}

.btn:hover {
  cursor: pointer;
  transform: translateY(-0.5rem);
}

.btn:active {
  color: #c7beb5;
}


/* carossel */

.carrossel {
  position: relative;
  width: 80%;
  max-width: 600px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: auto;
  display: none;
}

.slide.ativo {
  display: block;
}

.btns {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 1;
}

.anterior {
  left: 10px;
}

.proximo {
  right: 10px;
}

/* horario */
.secao-horario {
  display: flex;
  gap: 5rem;
  margin-top: 10rem;
  align-items: center;
  justify-content: center;
}

.horario {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-family: var(--cor-primaria);
  color: var(--cor-primaria);
  gap: 1rem;
  transform: translateY(-3rem);

}

.horario h2 {
  transform: translateY(-5rem);
  font-weight: 100;
}

.container-agenda {
  display: flex;
  font-size: 2rem;
  gap: 1rem;
  transform: translateY(-5rem);

}

.div-dia {
  display: flex;
  flex-direction: column;
}

.div-horario {
  display: flex;
  flex-direction: column;
}

.btn-agendar {
  width: 20rem;
  height: 2.3rem;
  border-radius: 0.8rem;
  color: white;
  font-family: var(--fonte-titulos);
  font-size: 20px;
  background: linear-gradient(90deg, rgba(162, 84, 8, 1) 50%, rgba(107, 40, 16, 1) 100%);
  border: none;
  gap: 5rem;
}

.btn-agendar:hover {
  cursor: pointer;
  transform: translateY(-0.5rem);
}

.btn-agendar:active {
  cursor: pointer;
  transform: translateY(-0.5rem);
  color: #c7beb5;
}

/* galeria */
.galeria {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 25rem;
  background-color: #c7beb5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr
}

.fotos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column: auto;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

/* footer */
.footer {
  display: flex;
  gap: 16rem;
  color: var(--cor-primaria);
  background-color: #b39a82;
  width: 100%;
  justify-content: center;

}

.footer img {
  width: 13rem;
  height: 5rem;
  transform: translateX(-1rem);
  pointer-events: none;
}

.especialidade h1 {
  transform: translateX(-2rem);
}

.button-mobile {
  display: none;
  height: 40px;
  width: 40px;
  margin-right: 20px;
  margin-top: 5px;
  background-color: #876745;
  border: 0;
  border-radius: 5px;
  z-index: 88;
}

.button-mobile img {
  height: 35px;
  width: 20px;
  transform: translateX(-60%);

}

.button-mobile:active {
  background-color: #3f433f;
}

.button-mobile {
  display: none;
}

.menu-mobile {
  display: none;
}


/* Responsividade */

/* Responsividade: até 1024px (tablets e menores desktops) */
@media (max-width: 1024px) {

  .menu {
    position: absolute;
    right: 15%;
    gap: 20px;
  }

  .button-mobile {
    display: none;

  }

  .button-mobile {
    display: none;
  }

  .secao-info {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .secao-bem-vindo {
    flex-direction: column;
    margin-left: 0;
    gap: 2rem;
    align-items: center;
    text-align: center;
  }

  .div-saudacao,
  .secao-procedimento {
    width: 80%;
  }

  .secao-catalogo {
    flex-wrap: wrap;
    gap: 2rem;
  
  }

  .galeria,
  .fotos {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding: 1rem;
  }

  .footer {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }

  .footer img {
    transform: none;
  }

  .especialidade h1 {
    transform: none;
  }


}


@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 1rem;
    overflow: hidden;
    transform: translateX(-3%);
    z-index: 99;

  }


  .menu-mobile {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0%;
    width: 100%;
    height: 10rem;
    transform: translateX(-5%);
    z-index: 9999;
    left: 66%;
    gap: 1.5rem;
    top: 2%;
    transition: transform 0.3s ease, max-height 0.3s ease;

  }

  .navli {
    color: #ca945a;
  }



  .logo {
    transform: translateY(-0.1rem);
    width: 150px;
    z-index: 10;
  }

  .button-mobile {
    position: absolute;
    left: 80%;
    display: block;
  }

  .sub {
    text-wrap: nowrap;
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0%;
    width: 100%;
    height: 10rem;
    transform: translateX(-5%);
  }

  .nav-link:active {
    height: 5px;
    background-color: #876745;
    border: none;
    outline: none;
    padding: 5px;
  }

  .Img-banner {
    height: auto;

  }

  .secao-info .info {
    width: 85%;
    height: auto;
    padding: 1rem;
  }

  .secao-bem-vindo h1 {
    font-size: 2rem;
  }

  .secao-procedimento h1 {
    font-size: 2rem;
  }

  .btn,
  .btn-agendar {
    width: 100%;
    font-size: 1rem;
    
  }

  .carrossel {
    width: 60%;
  }

  .horario {
    font-size: 1.1rem;
    text-align: center;
  }

  .container-agenda {
    flex-direction: column;
    align-items: center;
  }

  .imgs-fachada {
    width: 90%;
  }

  .btn-saibaMais {

    transform: translateX(-50%);
    width: 80%;
  }

  .filtro {
    position: absolute;
    width: 100%;
    height: 672vh;
    z-index: 1;
   
  }

  .navli {}


}

@media (min-width: 776px) {

  .secao-horario {
    display: flex;
    flex-direction: column;
  }

  .carrossel {
    width: 200%;

  }

  .button-mobile {
    display: none;
  }

  .horario {
    width: 100%;
  }

  .button-mobile {
    display: none;

  }

  .btn-saibaMais {
    transform: translateX(-50%);
    z-index: 99;

  }



  .navli {
    display: none;
  }

  .button-mobile {
    display: none;

  }


}


@media (max-width: 480px) {

  .secao-bem-vindo h1,
  .secao-procedimento h1 {
    font-size: 1.5rem;
  }


  .secao-horario {
    flex-direction: column;
    gap: 2rem;
  }

  .div-dia,
  .div-horario {
    font-size: 1rem;
    align-items: center;
  }


  .btn-agendar,
  .btn {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}