@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('footer.css');





:root {

  --cor-primaria: #7f5a38;

  --cor-destaque: #8B4513;

  --cor-fundo: #EFE5E5;

  --cor-texto-principal: #8B4513;

  --cor-texto-claro: #FAFAFA;

  --cor-titulos: #1c1c1c;

  --fonte-principal: "Mona Sans", sans-serif;
  --fonte-titulos: 'Open Sans', sans-serif;

}

* {
  list-style-type: none;


}

body {
  background-color: var(--cor-fundo);
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/* Secão header */
.header {
  position: fixed;
  z-index: 2;
  width: 100vw;
  display: flex;
  height: 50px;
  justify-content: space-between;
  background-color: #7f5a38;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
}

.header img {
  margin-left: 1rem;
}

.menu {
  display: flex;
  gap: 50px;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
  font-family: "Mona Sans", sans-serif;

}

.menu .nav-link {
  color: #ca945a;
  padding: 10px;
}

.nav-link:hover {
  border-radius: 10px;
  width: 200px;
  cursor: pointer;
  color: wheat;
}

/* Secão  Banner*/

.Img-banner {
  margin-top: 50px;
  width: 100vw;
  height: 600px;
  object-fit: cover;
  pointer-events: none;
}

/*secao-info*/
.secao-info {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  transform: translateY(-3rem);
}

.secao-info img {
  pointer-events: none;
}

.secao-info .info {

  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 15rem;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 0.1rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(12, 11, 11, 0.3);
  font-family: "Mona Sans", sans-serif;
  color: #c58a49;
  text-align: center;
  overflow: hidden;
}

/* secao-bem-vindo */
.secao-bem-vindo {
  display: flex;
  width: 100%;
  gap: 5rem;
  margin-left: 10rem;
  position: relative;
}
.secao-bem-vindo h1{
  font-size: 3rem;
}

.secao-bem-vindo h2 {
  font-weight: 200;
}

.secao-bem-vindo .imgs {
  border-radius: 10px;
  pointer-events: none;

}

.div-saudacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--fonte-titulos);
  color: #b36713;
  font-size: 20px;
  width: 50%;
}

/* secao-procedimento */
.secao-procedimento {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  font-family: var(--fonte-titulos);
  color: #7f5a38;
  font-size: 20px;
  margin-top: 5rem;
}
.secao-procedimento H1{
  font-size: 3rem
}

.secao-procedimento h2 {
  font-weight: 200;
}

/* secao-catalogo */
.secao-catalogo {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 5rem;
}

.secao-catalogo img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  animation: 1;



}

.saudacao button {
  position: absolute;

}

.catalogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catalogo h1 {
  font-size: 20px;
}

.catalogo span {
  position: relative;
  transform: translateY(-9.2rem);
  color: white;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  animation: alternate 1ms;

}

.catalogo img:hover {
  filter: opacity(50%);

}

.catalogo:hover span {
  opacity: 1;

}


.btn {
  width: 10rem;
  height: 2.3rem;
  border-radius: 0.8rem;
  color: white;
  font-family: var(--fonte-titulos);
  font-size: 20px;
  background: linear-gradient(90deg, rgba(162, 84, 8, 1) 50%, rgba(107, 40, 16, 1) 100%);
  border: none;


  transition: transform 0.3s ease 0.2s;
}

.btn:hover {
  cursor: pointer;
  transform: translateY(-0.5rem);
}

.btn:active {
  color: #c7beb5;
}


/* carossel */

.carrossel {
  position: relative;
  width: 80%;
  max-width: 600px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: auto;
  display: none;
}

.slide.ativo {
  display: block;
}

.btns {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 1;
}

.anterior {
  left: 10px;
}

.proximo {
  right: 10px;
}

/* horario */
.secao-horario {
  display: flex;
  gap: 5rem;
  margin-top: 10rem;
  align-items: center;
  justify-content: center;
}

.horario {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-family: var(--cor-primaria);
  color: var(--cor-primaria);
  gap: 1rem;
  transform: translateY(-3rem);

}
.horario h2{
  transform: translateY(-5rem);
   font-weight: 100;
}

.container-agenda {
  display: flex;
  font-size: 2rem;
  gap: 1rem;
  transform: translateY(-5rem);

}

.div-dia {
  display: flex;
  flex-direction: column;
}

.div-horario {
  display: flex;
  flex-direction: column;
}